* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color:white;
  z-index: 1;
}

.navbar__s1__title {
  color: #a435f0;
}

.navbar__s2 {
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  width: 60%;
  margin: 5px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar__s2 input {
  border: none;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
}

.navbar__s2 input:focus {
  outline: none;
}

.navbar__s3 {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* Udemy Business */
.udemy__business{
  position: relative;
cursor: pointer;
}
.udemy__business__popup{
  position: absolute;
  background-color:white;
  border:1px solid black;
  width:250px;
  top:150%;
  padding:20px;
  right:0;
  display: none;
}
.udemy__business:hover .udemy__business__popup{
  display: block;
}
/* mylearning popup */
.mylearning{
position: relative;
cursor: pointer;
}
.mylearning__popup{
  position: absolute;
  background-color:white;
  border:1px solid black;
  width:100px;
  top:150%;
  padding:20px;
  right:0;
  display: none;
}
.mylearning:hover .mylearning__popup{
  display: block;
}
.categories {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid black;
}

.categories p {
  background-color: #a435f0;
  color: white;
  padding: 15px;
  border-radius: 30px;
}
.sales__image{
  position: relative;
}
.sales__image img {
  width: 100%;
}
.sale__image__offer{
  width: 35%;
  border:2px solid black;
  background-color:white;
  padding: 2%;
  position: absolute;
  top:10%;
  left:10%;
}

.recommended {
  padding: 10px;
}

.recommended__container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
.course__card {
  width: 250px;
}

.course__card img {
  width: 100%;
  height: 50%;
}

.topics{
  padding: 10px;
}
.topics__container {
  display: flex;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
.topics__container p{
  border:2px solid grey;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular{
  padding: 10px;
}
.popular__container{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer{
  background-color: black;
  color: white;
  padding: 30px;
}
.footer__one{
  display: flex;
  gap: 10px;
}
.footer__one p{
  margin:20px;
}
.footer__two{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
